* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: linear-gradient(45deg, #4fc7f7, white, #8cd163);
}

.column1{
  float: left;
  width: 25%;
}

.column2{
  float: center;
  width: 50%;
}

.column3 {
  float: right;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column1, .column2, .column3{
    width: 100%;
  }
}