@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #fc7500;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus{
  color: #fc7500;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1.5px solid #fc7500;
  background: #fc7500;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  top: 50px;
  left: 80%;
  transform: translate(-50%, -50%);
}