.post {
  margin-top: 100px;
  border-radius: 10px;
  }

  .image-conta img {
    background: white;
    padding: 15px;
    border-radius: 50%;
}

.poppin{
  height: 150px;
  width: 600px;
  color: black;
  background: rgb(245, 241, 238);
}

#states{
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}

butto {
  display:flex;
  float: right;
  margin:20px;
  width: 100px;
  background: #fc7500;
  border: 10px;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 8px 30px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.butto:hover {
  background-color: #fc7500;
  color: white;
}