.trending{
   position: relative;
   margin-top: 100px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   width: 300px;
   justify-content: left;
   height: auto;
   background: white;
   margin-bottom: 20px;
}

.trend{
   margin-top: 10px;
   color: black;
   font-weight: 900;
   font-size: 1.5rem;
   text-align: left;
   font-family: 'poppins' ;
   margin-bottom: 20px;
}

.ding h4,h3,p{
   margin: 0;
   padding: 0;
}

.ding h4{
   color: grey;
   font-weight: 400;
   font-size: 1rem;
   text-align: left;
}

.ding h3{
   margin-top: 7px;
   color: #fc7500;
   font-weight: 600;
   font-size: 1.2rem;
   margin-bottom: 7px;
}

.ding p{
   color: grey;
   font-weight: 400;
   font-size: 1rem;
}