.whotofollow{
    position: relative;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    justify-content: left;
    height: auto;
    background: white;
    margin-bottom: 20px;
 }

 .whoto{
    margin-top: 10px;
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'poppins' ;
    margin-bottom: 10px;
 }

 .image-con img {
    background: white;
    padding: 5px;
    border-radius: 50%;
}

button {
    display:flex;
    margin:auto;
    background: #fc7500;
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #fc7500;
    color: white;
  }

  #stat{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    font-weight: 500;
}

  .colo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

 .follow h3,h4{
    margin: 0;
    padding: 0;
    text-align: center;
}

.follow h3{
    color: black;
   font-weight: 700;
   font-size: 1rem;
}

.follow h4{
   color: grey;
   font-weight: 200;
   font-size: 0.9rem;
   margin-bottom: 20px;
}
